<%= form_for(@article) do |f| %>
  <div class="form-group">
  <%= f.text_field :title, placeholder: "Enter a title", html: {:class => 'form-control'} %>
  <%= f.text_field :content, placeholder: "Enter the content", html: {:class => 'form-control'} %>
  </div>

  <%= f.submit %>
<% end %>
